@page
@model HomeownersMS.Pages.Account.RegisterResidentModel
@{
    ViewData["Title"] = "Register Admin";
}
<h1>Register Resident</h1>
<hr />
<partial name="_RegisterForm" model="Model.UserInput" />
